.progress-history-container--home {
	margin-top: 0;
	margin-bottom: 18px;
}

.progress-history-container--home > h2 {
	margin-top: 0;
}

.page-intro {
	margin-top: 18px;
	width: fit-content;
	padding-right: 8px;
}